.usersPhoto {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
}

.Line {
    display: inline-flex;
    padding: 5px;
    margin-left: 5%;
    margin-right: 20%;
}

.paper {
    display: inline-block;
    width: 90ch;
    padding: 5px;
}
.button {
    width: 10ch;
}
.page {
    font-weight: bold;
    
}