.usersPhoto {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    /* margin-right: 10px; */
}
.paginator{
    
}
.Line {
    display: inline-flex;
    padding: 5px;
    
    
}

.paper {
    display: inline-block;
    width: 90ch;
    padding: 5px;
}
.button {
    width: 10ch;
}

.load {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 200px;
}