
.Nav{
    grid-area: n;
    padding: 30px;
    /* background-color: #3F51B5 ; */
    /*grey */
}
.item a {
    color: #3F51B5;
    text-decoration: none;
}
.item a.active {
    color: gold;
}
.Button {
    width: 100%;
}