.app-wrapper {
  /* margin: 0 auto; */
 
  /* flex-direction: column; */
  /* grid-template-areas: 
  "h h"
  "c c"; */
  /* grid-template-rows: 60px 1fr;
  grid-template-columns: 0fr 10fr; */
   /* grid-gap: 10px;  */
   
   }  
.app-wrapper-header{
  width: 100%;
  
  
}
.app-wrapper-content {
  /* grid-area: c; */
  display: flex;
  padding-top: 50px;
  justify-content: center;
  margin: 0;
  
}

